.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  h3 {
    color: var(--color-text);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 32px;
    margin-top: 0;
  }

  p {
    color: var(--color-text);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    width: 280px;
    margin-top: 0;
    margin-bottom: 32px;
  }

  a {
    padding: 10px 30px;
    border-radius: 30px;
  }
}