.slider {
  display: flex;
  margin-top: 20px;

  .slideItem {
    cursor: pointer;
    margin-right: 16px;
    user-select: none;

    .name {
      color: var(--color-unactive);
      font-weight: 600;
      font-size: 14px;
      line-height: 15px;
    }

    .line {
      margin-top: 10px;
      height: 2px;
      background-color: transparent;
      border-radius: 2px;
    }
  }

  .slideItemActive {
    .name {
      color: var(--color-active);
    }

    .line {
      background-color: var(--color-main);
    }
  }
}