.header {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-header);


  .icons {
    display: flex;
    justify-content: space-between;
    width: 100px;

    svg {
      //margin-left: 20px;
      cursor: pointer;
      width: 20px;
      height: 20px;

      path {
        fill: var(--color-unactive)
      }

    }

    .active {
      path {
        fill: var(--color-main)
      }
    }
  }
}