:root {
  --color-background: #141414;
  --color-header: #141414;
  --color-footer: #222222;
  --color-line: #222222;
  --color-main: #f44242;
  --color-active: #ffffff;
  --color-unactive: #828282;
  --color-text: #ffffff;
}

.line {
  width: 100%;
  height: 0;
  border-bottom: 2px solid var(--color-line);
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

button,
a {
  background-color: var(--color-main);
  margin: 0;
  color: var(--color-active);
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #333333;
  margin: 0;
}